{% extends 'base.html' %}

{% load static %}
{% block css %}
<style>
    /* Personalización de las secciones */
    .section-black {
        background-color: #000;
        color: #fff;
    }
    .section-white {
        background-color: #fff;
        color: #000;
    }
</style>
{% endblock %}

{% block content %}
<!-- Sección Navbar - Fondo Blanco -->
<section class="section section-black">
    <div class="container">
    </div>
</section>

<!-- Sección 1 - Fondo Blanco -->
<section class="section section-white">
    <div class="container">
        <div class="section-header">
            <h2 class="text-center" data-aos="fade-left">Nuestra Historia</h2>
        </div>
        <p class="text-center">Con más de 10 años en el mercado, hemos trabajado arduamente para ofrecer soluciones innovadoras a nuestros clientes en el sector de maquinaria pesada.</p>
    </div>
</section>

<!-- Sección 2 - Fondo Negro -->
<section class="section section-black">
    <div class="container">
        <div class="section-header">
            <h2 class="text-center text-white" data-aos="fade-right">Nuestros Valores</h2>
        </div>
        <p class="text-center">Nos guiamos por la honestidad, el compromiso y la excelencia en cada uno de nuestros proyectos, asegurando la satisfacción total de nuestros clientes.</p>
    </div>
</section>

<!-- Sección 3 - Fondo Blanco -->
<section class="section section-white">
    <div class="container">
        <div class="section-header">
            <h2 class="text-center" data-aos="fade-left">Nuestro Equipo</h2>
        </div>
        <p class="text-center">Un equipo altamente capacitado y apasionado por la tecnología, comprometido a brindar siempre las mejores soluciones a nuestros clientes.</p>
        <div class="row text-center mt-4" data-aos="fade-down">

            {% if ejecutivos %}
            {% for ejecutivo in ejecutivos %}
            
            <!-- Vendedor -->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="{{ ejecutivo.imagen.url }}" alt="{{ ejecutivo.nombre }}" class="rounded-circle img-fluid" style="width: 150px; height: 150px; object-fit: cover;">
                <h4 class="mt-3" style="color: gray;">{{ ejecutivo.nombre}}</h4>
                <a href="https://wa.me/{{ejecutivo.numero}}" target="_blank" class="btn btn-warning btn-sm mt-2" style="display: inline-flex; align-items: center;">
                    <i class="bi bi-whatsapp" style="font-size: 1.2rem; margin-right: 8px;"></i> Contactar
                </a>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-info">
                <strong>Info!</strong> No existen ejecutivos registrados.
            </div>
            {% endif %}

            
        </div>
    </div>
</section>

<!-- Sección 4 - Fondo Negro -->
<section class="section section-black">
    <div class="container">
        <div class="section-header">
            <h2 class="text-center text-white" data-aos="fade-right">Visión de Futuro</h2>
        </div>
        <p class="text-center">Estamos enfocados en crecer y expandir nuestras operaciones globalmente, adoptando tecnologías de vanguardia para seguir siendo líderes en el mercado.</p>
    </div>
</section>
{% endblock %}

    

    
