<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEGAPARTES</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar-container">
        <div class="navbar">
            <div class="title">MEGAPARTES</div>
            <div class="menu">
                <a href="#inicio">Inicio</a>
                <a href="#servicios">Servicios</a>
                <a href="#contacto">Contacto</a>
            </div>
        </div>
    </div>

    <div class="slider-container">
        <div class="slider">
            <div class="slide active" style="background-image: url('img/1920x680.gif');"></div>
            <div class="slide" style="background-image: url('slide2.jpg');"></div>
            <div class="slide" style="background-image: url('slide3.jpg');"></div>
        </div>
        <button class="nav-button left-button">&lt;</button>
        <button class="nav-button right-button">&gt;</button>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
