{% extends "base.html" %}

{% load static %}
{% block css %}
<style>
    /* Personalización de las secciones */
    .section-black {
        background-color: #000;
        color: #fff;
    }
    .section-white {
        background-color: #fff;
        color: #000;
    }
    .panel-subcategoria{
        background-color: var(--color-primary);
        color: white;    
    }

    .panel-subcategoria li{
        color:black;
    }

    .panel-subcategoria ul{
        list-style-type: none;
    }

    .panel-subcategoria a{
        color: white;
    }

    .panel-subcategoria a:hover{
        color: var(--color-secondary);
    }

    .card{
        padding: 0;
    }

    .card-body{
        height: 150px;
    }

    .card-footer{
        background-color: var(--color-primary);
        color: white;
    }

    .card-footer h3{
        text-align: center;
    }   
    
</style>
{% endblock %}

{% block content %}
<!-- Sección Navbar - Fondo Blanco -->
<section class="section section-black">
    <div class="container">
    </div>
</section>
    <div class="row">
        <div class="col-md-3 p-4 panel-subcategoria">
            <h1>Catálogo</h1>
            <ul>
                {% for categoria in categorias %}
                    <li>{{ categoria.nombre }}</li>
                    <!-- Mostar solo las subcategorias de la categoria actual -->
                    {% for subcategoria in categoria.subcategorias.all %}
                        <ul>
                            <!--Enviar un get con el id subcategoria -->                            
                            <a href="{% url 'catalog' %}?id_subcategoria={{ subcategoria.id }}"><li>{{ subcategoria.nombre }}</li></a>
                        </ul>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                {# Generar 10 tarjetas de ejemplo #}
                
                {% for producto in productos %}
                    <div class="col-md-3 m-4 card">
                        <div class="card-body">
                            <!-- Añadir imagen-->
                            <img src="{{ producto.imagen.url }}" class="img-fluid" alt="Imagen de producto">                            
                        </div>
                        <div class="card-footer">
                            <h3>{{ producto.codigo }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    
{% endblock %}