{% extends 'page/base.html' %}

{% load static %}

{% block css %}
<style>
    .custom-img {
        width: 50%; /* Ajusta el porcentaje según tus necesidades */
        height: auto; /* Mantiene la proporción de la imagen */
    }
</style>
{% endblock %}

{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'img/logo.png" alt=""> -->
        <h1>MEGAPARTES SRL<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">

<div class="info d-flex align-items-center">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
        <h2 data-aos="fade-down"><span>MEGAPARTES SRL</span></h2>
        <p data-aos="fade-up">Repuestos alternativos para equipos pesados.</p>
        <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">REGISTARSE</a>
        </div>
    </div>
    </div>
</div>

<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    
    <div class="carousel-item active" style="background-image: url({% static 'img/hero-carousel/hero-carousel-1.jpg' %})">
    </div>
    
    {% for slider in sliders %}
        <div class="carousel-item" style="background-image: url({{ slider.imagen.url }})"></div>    
    {% endfor %}

    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

</div>

</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Productos</h2>
                <p>Más de 15000 productos en nuestros stock.</p>
            </div>
            
            <div class="row gy-4">
                {% if not categories %}
                    <div class="alert alert-info">
                        <strong>Info!</strong> No existen categorias de productos.
                    </div>
                {% else %}
                    {% for categoria in categories %}
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <div class="card-img-top custom-img">
                                <img src="{{ categoria.imagen.url }}" class="card-img-top" alt="Imagen de {{ categoria.nombre }}">
                            </div>
                            <h3>{{ categoria.nombre }}</h3>
                            <p>{{ categoria.descripcion }}</p>
                            <a href="#" class="readmore stretched-link">Learn more <i
                                class="bi bi-arrow-right"></i></a>
                        </div>
                    </div><!-- End Service Item -->
                    {% endfor %}
                {%endif%}
            </div>
            
        </div>
    </section><!-- End Services Section -->

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-around gy-4">
                <div class="col-lg-6 img-bg" style="background-image: url({% static 'img/alt-services.jpg' %})" data-aos="zoom-in"
                data-aos-delay="100"></div>

                <div class="col-lg-5 d-flex flex-column justify-content-center">
                    <h3>Servicios Adicionales</h3>
                    <p>En Megapartes, nos esforzamos por ofrecer mucho más que solo productos de alta calidad. Nuestros servicios
                        adicionales están diseñados para brindar una experiencia de compra excepcional y garantizar que cada cliente
                        reciba la atención que merece. Conoce más sobre nuestros servicios:
                    </p>

                    {% if not services %}
                        <div class="alert alert-info">
                            <strong>Info!</strong> No existen servicios para mostrar.
                        </div>
                    {% else %}
                        {% for service in services %}

                            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                                <i class="bi {{service.icono}} flex-shrink-0"></i>
                                <div>
                                <h4><a href="" class="stretched-link">{{service.nombre}}</a></h4>
                                <p>{{service.descripcion}}</p>
                                </div>
                            </div><!-- End Icon Box -->

                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
        <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row  g-2 d-flex">

            <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                <h4>Central</h4>
            </a>
            </li><!-- End tab nav item -->

            <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                <h4>Sucursal 4to Anillo</h4>
            </a><!-- End tab nav item -->

            <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                <h4>Sucursal Cochabamba</h4>
            </a>
            </li><!-- End tab nav item -->

            <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                <h4>Sucursal La Paz</h4>
            </a>
            </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content">

            <div class="tab-pane active show" id="tab-1">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                data-aos="fade-up" data-aos-delay="100">
                    <h3>Neque exercitationem debitis</h3>
                    <p class="fst-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore
                        magna aliqua.
                    </p>
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i> Dirección: Calle Principal #123, Ciudad</li>
                        <li><i class="fas fa-phone"></i> Teléfono: +123456789</li>
                        <li><i class="far fa-clock"></i> Horario de Atención: Lunes a Viernes, 9:00 AM - 6:00 PM</li>
                    </ul>
                    <p class="fst-italic">
                        Ejecutivos de venta:
                    </p>
                    <ul>
                        <li><i class="bi bi-whatsapp"></i> ventas1 <a href="">+123456789</a></li>
                        <li><i class="bi bi-whatsapp"></i> ventas2 <a href="">+123456789</a></li>
                        <li><i class="bi bi-whatsapp"></i> ventas3 <a href="">+123456789</a></li>
                    </ul>
                
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'img/features-1.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
            </div><!-- End tab content item -->

            <div class="tab-pane" id="tab-2">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Neque exercitationem debitis</h3>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna aliqua.
                </p>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Dirección: Calle Principal #123, Ciudad</li>
                    <li><i class="fas fa-phone"></i> Teléfono: +123456789</li>
                    <li><i class="far fa-clock"></i> Horario de Atención: Lunes a Viernes, 9:00 AM - 6:00 PM</li>
                </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/features-2.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
            </div><!-- End tab content item -->

            <div class="tab-pane" id="tab-3">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Voluptatibus commodi accusamu</h3>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna aliqua.
                </p>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Dirección: Calle Principal #123, Ciudad</li>
                        <li><i class="fas fa-phone"></i> Teléfono: +123456789</li>
                        <li><i class="far fa-clock"></i> Horario de Atención: Lunes a Viernes, 9:00 AM - 6:00 PM</li>
                </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/features-3.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
            </div><!-- End tab content item -->

            <div class="tab-pane" id="tab-4">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Omnis fugiat ea explicabo sunt</h3>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna aliqua.
                </p>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Dirección: Calle Principal #123, Ciudad</li>
                        <li><i class="fas fa-phone"></i> Teléfono: +123456789</li>
                        <li><i class="far fa-clock"></i> Horario de Atención: Lunes a Viernes, 9:00 AM - 6:00 PM</li>
                </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/features-4.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
            </div><!-- End tab content item -->

        </div>

        </div>
    </section><!-- End Features Section -->

    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
        <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Galeria de Imagenes</h2>
            <p>Consequatur libero assumenda est voluptatem est quidem illum et officia imilique qui vel architecto
            accusamus fugit aut qui distinctio</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
            data-portfolio-sort="original-order">

            <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">Todas</li>
            <li data-filter=".filter-remodeling">Motor</li>
            <li data-filter=".filter-construction">Filtros</li>
            <li data-filter=".filter-repairs">Mando Final</li>
            <li data-filter=".filter-design">Uñas</li>
            </ul><!-- End Projects Filters -->

            <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/projects/remodeling-1.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Remodeling 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/projects/remodeling-1.jpg' %}" title="Remodeling 1"
                    data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                        class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/projects/construction-1.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Construction 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/projects/construction-1.jpg' %}" title="Construction 1"
                    data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                        class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/projects/repairs-1.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Repairs 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/projects/repairs-1.jpg' %}" title="Repairs 1" data-gallery="portfolio-gallery-repairs"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/projects/design-1.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Design 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/projects/design-1.jpg' %}" title="Repairs 1" data-gallery="portfolio-gallery-book"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/projects/remodeling-2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Remodeling 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/projects/remodeling-2.jpg' %}" title="Remodeling 2"
                    data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                        class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/projects/construction-2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Construction 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/projects/construction-2.jpg' %}" title="Construction 2"
                    data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                        class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/projects/repairs-2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Repairs 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/projects/repairs-2.jpg' %}" title="Repairs 2" data-gallery="portfolio-gallery-repairs"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/projects/design-2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Design 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/projects/design-2.jpg' %}" title="Repairs 2" data-gallery="portfolio-gallery-book"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/projects/remodeling-3.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Remodeling 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/projects/remodeling-3.jpg' %}" title="Remodeling 3"
                    data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                        class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/projects/construction-3.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Construction 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/projects/construction-3.jpg' %}" title="Construction 3"
                    data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                        class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/projects/repairs-3.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Repairs 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/projects/repairs-3.jpg' %}" title="Repairs 2" data-gallery="portfolio-gallery-repairs"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/projects/design-3.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Design 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/projects/design-3.jpg' %}" title="Repairs 3" data-gallery="portfolio-gallery-book"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            </div><!-- End Projects Container -->

        </div>

        </div>
    </section><!-- End Our Projects Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Marcas</h2>
            <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia
            reprehenderit sunt deleniti</p>
        </div>

        <div class="slides-2 swiper">
            {% if not marcas %}
                <div class="alert alert-info">
                    <strong>Info!</strong> No existen imagenes para la galeria.
                </div>
            {% else %}

                {% for marca in marcas %}
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="" alt="">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer</h4>
                            </div>
                            
                        </div>               
                    </div><!-- End testimonial item -->
                </div>
                {% endfor %}
            {% endif %}

            <div class="swiper-pagination"></div>
        </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
        <div class="container" data-aos="fade-up"">



    <div class=" section-header">
        <h2>Recent Blog Posts</h2>
        <p>In commodi voluptatem excepturi quaerat nihil error autem voluptate ut et officia consequuntu</p>
        </div>

        <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
                <img src="{% static 'img/blog/blog-1.jpg' %}" class="img-fluid" alt="">
                <span class="post-date">December 12</span>
            </div>

            <div class="post-content d-flex flex-column">

                <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis</h3>

                <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">Julia Parker</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
                </div>
                </div>

                <hr>

                <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                    class="bi bi-arrow-right"></i></a>

            </div>

            </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
                <img src="{% static 'img/blog/blog-2.jpg' %}" class="img-fluid" alt="">
                <span class="post-date">July 17</span>
            </div>

            <div class="post-content d-flex flex-column">

                <h3 class="post-title">Et repellendus molestiae qui est sed omnis</h3>

                <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">Mario Douglas</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2">Sports</span>
                </div>
                </div>

                <hr>

                <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                    class="bi bi-arrow-right"></i></a>

            </div>

            </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6">
            <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

            <div class="post-img position-relative overflow-hidden">
                <img src="{% static 'img/blog/blog-3.jpg' %}" class="img-fluid" alt="">
                <span class="post-date">September 05</span>
            </div>

            <div class="post-content d-flex flex-column">

                <h3 class="post-title">Quia assumenda est et veritati tirana ploder</h3>

                <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">Lisa Hunter</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2">Economics</span>
                </div>
                </div>

                <hr>

                <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                    class="bi bi-arrow-right"></i></a>

            </div>

            </div>
        </div><!-- End post item -->

        </div>

        </div>
    </section>
    <!-- End Recent Blog Posts Section -->

</main><!-- End #main -->

{% endblock %}




    

    

