{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .custom-img {
        width: 50%; /* Ajusta el porcentaje según tus necesidades */
        height: auto; /* Mantiene la proporción de la imagen */
    }
</style>
{% endblock %}

{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'img/logo.png" alt=""> -->
        <h1>MEGAPARTES SRL<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#" class="active">Inicio</a></li>
          {%if not user.is_authenticated %}
            <li><a href="#">Ingresar</a></li>
          {% else %}
            <li><a href="{% url 'about' %}">Sobre Nosotros</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Blog</a></li>
            <li class="dropdown"><a href="#"><span>Dropdown</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                <li><a href="#">Dropdown 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i
                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                    <li><a href="#">Deep Dropdown 1</a></li>
                    <li><a href="#">Deep Dropdown 2</a></li>
                    <li><a href="#">Deep Dropdown 3</a></li>
                    <li><a href="#">Deep Dropdown 4</a></li>
                    <li><a href="#">Deep Dropdown 5</a></li>
                    </ul>
                </li>
                <li><a href="#">Dropdown 2</a></li>
                <li><a href="#">Dropdown 3</a></li>
                <li><a href="#">Dropdown 4</a></li>
                </ul>
            </li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Salir</a></li>
          {% endif %}

          
        </ul>
      </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">

<div class="info d-flex align-items-center">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
        <h2 data-aos="fade-down"><span>MEGAPARTES SRL</span></h2>
        <p data-aos="fade-up">Repuestos alternativos para equipos pesados.</p>
        </div>
    </div>
    </div>
</div>

<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    {% if sliders %}             
        {% for slider in sliders %}
            <div class="carousel-item active" style="background-image: url({{slider.imagen.url}})">
            </div>
        {% endfor %}
    {% endif %}

    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

</div>

</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Productos</h2>
                <p>Más de 15000 productos en nuestros stock.</p>
            </div>
            
            <div class="row gy-4">
                {% if not categories %}
                    <div class="alert alert-info">
                        <strong>Info!</strong> No existen categorias de productos.
                    </div>
                {% else %}
                    {% for categoria in categories %}
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <div class="card-img-top">
                                <img src="{{ categoria.imagen.url }}" class="card-img-top" alt="Imagen de {{ categoria.nombre }}">
                            </div>
                            <div class="text-center mt-4">
                                <h3>{{ categoria.nombre }}</h3>
                                <p>{{ categoria.descripcion }}</p>
                            </div>
                            <!--
                            <a href="#" class="readmore stretched-link">Learn more <i
                                class="bi bi-arrow-right"></i></a> -->
                        </div>
                    </div><!-- End Service Item -->
                    {% endfor %}
                {%endif%}
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
        <div class="container" data-aos="fade-up">
            <div class="section-header text-center">
                <h2>Marcas</h2>
                <p>Representantes de marcas reconocidas.</p>
            </div>
            <div class="row justify-content-center"> <!-- Centrar el carrusel -->
                <div id="brandsCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% if marcas %}
                            {% for marca in marcas %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <div class="d-flex justify-content-center">
                                        <img src="{{ marca.imagen.url }}" class="d-block w-auto" alt="{{ marca.nombre }}">
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-info">
                                <strong>Info!</strong> No existen marcas para mostrar.
                            </div>
                        {% endif %}
                    </div>
                  
                    <!-- Controles del carrusel -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#brandsCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#brandsCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    
    <!-- End Alt Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
        <div class="container" data-aos="fade-up">

            <ul class="nav nav-tabs row  g-2 d-flex">
                {% if sucursales %}
                    {% for sucursal in sucursales %}
                        <li class="nav-item col-3">
                            <a class="nav-link {% if forloop.first %}active show{% endif %}" data-bs-toggle="tab" data-bs-target="#tab-{{sucursal.id}}">
                                <h4>{{sucursal.nombre}}</h4>
                            </a>
                        </li><!-- End tab nav item -->
                    {% endfor %}
                {% endif %}
            </ul>

            <div class="tab-content">

                {% if sucursales %}
                    {% for sucursal in sucursales %}

                        <!-- Tab content item -->
                         <div class="tab-pane {% if forloop.first %}active show{% endif %}" id="tab-{{sucursal.id}}">
                            <div class="row">
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                                data-aos="fade-up" data-aos-delay="100">
                                    <h3>{{sucursal.nombre}}</h3>
                                    <p class="fst-italic">
                                        {{sucursal.descripcion}}
                                    </p>
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i> Dirección: {{sucursal.direccion}}</li>
                                        <li><i class="fas fa-phone"></i> Teléfono: {{sucursal.telefono}}</li>
                                        <li><i class="far fa-clock"></i> Horario de Atención: {{sucursal.horario}}</li>
                                    </ul>
                                    <p class="fst-italic
                                    ">
                                        Ejecutivos de venta:
                                    </p>
                                    <ul>
                                        <li><i class="bi bi-whatsapp"></i> ventas1 <a href="">+123456789</a></li>
                                        <li><i class="bi bi-whatsapp"></i> ventas2 <a href="">+123456789</a></li>
                                        <li><i class="bi bi-whatsapp"></i> ventas3 <a href="">+123456789</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                                    <img src="{{sucursal.imagen.url}}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div><!-- End tab content item -->

                    {% endfor %}
                {% else %}
                    <div class="alert alert-info">
                        <strong>Info!</strong> No existen sucursales para mostrar.
                    </div>
                {% endif %}
            </div>

        </div>
    </section><!-- End Features Section -->

    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
        <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Galería de Imágenes</h2>
            <p>Descubre la calidad y variedad de nuestros productos a través de esta selección de imágenes, 
                que representan nuestro compromiso con la excelencia.</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
            data-portfolio-sort="original-order">

            <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">Todas</li>
            <li data-filter=".filter-remodeling">Motor</li>
            <li data-filter=".filter-construction">Filtros</li>
            <li data-filter=".filter-repairs">Mando Final</li>
            <li data-filter=".filter-design">Uñas</li>
            </ul><!-- End Projects Filters -->

            <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/1024x768.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Remodeling 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/1024x768.png' %}" title="Remodeling 1"
                    data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                        class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/1024x768.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Construction 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/1024x768.png' %}" title="Construction 1"
                    data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                        class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/1024x768.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Repairs 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/1024x768.png' %}" title="Repairs 1" data-gallery="portfolio-gallery-repairs"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/1024x768.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Design 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/1024x768.png' %}" title="Repairs 1" data-gallery="portfolio-gallery-book"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/1024x768.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Remodeling 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/1024x768.png' %}" title="Remodeling 2"
                    data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                        class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/1024x768.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Construction 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/1024x768.png' %}" title="Construction 2"
                    data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                        class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/1024x768.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Repairs 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/1024x768.png' %}" title="Repairs 2" data-gallery="portfolio-gallery-repairs"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/1024x768.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Design 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/1024x768.png' %}" title="Repairs 2" data-gallery="portfolio-gallery-book"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/1024x768.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Remodeling 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/1024x768.png' %}" title="Remodeling 3"
                    data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                        class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/1024x768.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Construction 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/1024x768.png' %}" title="Construction 3"
                    data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                        class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/1024x768.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Repairs 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/1024x768.png' %}" title="Repairs 2" data-gallery="portfolio-gallery-repairs"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
                <div class="portfolio-content h-100">
                <img src="{% static 'img/1024x768.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Design 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="{% static 'img/1024x768.png' %}" title="Repairs 3" data-gallery="portfolio-gallery-book"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="project-details.html" title="More Details" class="details-link"><i
                        class="bi bi-link-45deg"></i></a>
                </div>
                </div>
            </div><!-- End Projects Item -->

            </div><!-- End Projects Container -->

        </div>

        </div>
    </section><!-- End Our Projects Section -->

</main><!-- End #main -->

{% endblock %}

{% block js %}
<script>
    var myCarousel = document.querySelector('#brandsCarousel');
    var carousel = new bootstrap.Carousel(myCarousel, {
      interval: 3000, // Cambia cada 3 segundos
      wrap: true
    });
  </script>
{% endblock %}




    

    

